chromadb
docx2txt
faiss-cpu
ipykernel
ipywidgets
jq
jupyterlab-widgets
langchain
langchain-community
langchain-experimental
langchain-groq
langchain-huggingface
langchain-openai
langgraph
matplotlib
openpyxl
pandas
pdfminer
pymupdf
pypdf
python-docx
python-dotenv
rank-bm25
sentence-transformers
tiktoken
unstructured
wikipedia
